---
layout: default
---
  <div class="row">
    <div  class="col-sm-2">
	</div> 
	<div class="col-sm-8" id="post">
	  <ul class="post-list-body">
	  
	  {% for post in site.tags.blog %}
	    <li class="postli" post-cate="All">
		{% if post.image %}
		  <a href='{{ post.url | prepend: site.baseurl }}'><img class='post-image' src="{{post.image}}" /></a>
		{% endif %}
		<div class="posttitle">
		  <a href='{{ post.url | prepend: site.baseurl }}'><span class="posttitled">{{post.title}}</span></a>
		</div>
		<div class='post-date'>{{ post.date | date: "%B %d, %Y"}}
		</div>
		<div class="post-content">{{post.summary}}        </div>
		
	   </li>
	  {% endfor %} 
	  
	   </ul> -->
	   <ul class="post-list-body">
	   {% for category in site.categories %}
	   
		   <li class="postli" post-cate="{{category | first}}">
		    {% for posts in category  %}
              {% for post in posts %}
		  
		    
		  <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-image" src="{{post.image}}" /></a>
		
		<div class="posttitle">
		  <a href="{{ post.url | prepend: site.baseurl }}"><span class="posttitled">{{post.title}}</span></a>
		</div> 
		<div class="post-date">{{ post.date | date: "%B %d, %Y"}}
		</div>
		<div class="post-content">{{post.summary}}        </div> 
		 {% endfor %}
		  {% endfor %} 
		 </li>
		  
		  {% endfor %} 
		 </ul>  
	   
    </div>
	   <div  class="col-sm-2">
	     <div class="shadow-corner-curl hidden-xs">
         <div class="categories-list-header">
          Categories
         </div>
      
      <a href="{{'/index.html' | prepend: site.baseurl}}" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for category in site.categories order:ascending %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category| first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
    </div>
	   </div>
	   </div>





