---
layout: default
---
  <div class="row">
    <div  class="col-sm-2">
	</div> 
	<div class="col-sm-8" id="post">
	  <ul class="post-list-body">
	  
	  {% for post in site.categories.blog %}
	    <li class="postli" post-cate="All">
		{% if post.image %}
		  <a href='{{ post.url | prepend: site.baseurl }}'><img class='post-image' src="{{post.image}}" /></a>
		{% endif %}
		<div class="posttitle">
		  <a href='{{ post.url | prepend: site.baseurl }}'><span class="posttitled">{{post.title}}</span></a>
		</div>
		<div class='post-date'>{{ post.date | date: "%B %d, %Y"}}
		</div>
		<div class="post-content">{{post.summary}}        </div>
		
	   </li>
	  {% endfor %} 
		
 	  {% for tag in site.tags %}
		   <li class="postli" post-cate="{{tag | first}}">
		  {% for posts in tag  %}
		   {% for post in posts %}
		  {% if post.image %}
		  <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-image" src="{{post.image}}" /></a>
		{% endif %}
		<div class="posttitle">
		  <a href="{{ post.url | prepend: site.baseurl }}"><span class="posttitled">{{post.title}}</span></a>
		</div>
	<!--	<div class="post-date">{{ post.date | date: "%B %d, %Y"}}
		</div>
		<div class="post-content">{{post.summary}}        </div> -->
		{% endfor %}
		{% endfor %} 
		 </li>
		  {% endfor %} 
		  
		  
	   </ul>
	   
    </div>
	   <div  class="col-sm-2">
	     <div class="shadow-corner-curl hidden-xs">
         <div class="categories-list-header">
         Tags
         </div>
      
      <a href="{{'/index.html' | prepend: site.baseurl}}" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for tag in site.tags order:ascending %}
        <a href="javascript:;" class="categories-list-item" cate="{{ tag | first }}">
          {{ tag | first }} <span class="my-badge">{{ tag | last | size }}</span>
        </a>
      {% endfor %}
    </div>
	   </div>
	   </div>




<!--<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  

</div> -->
