---
layout: default
---
  <div class="row">
<!--    <div  class="col-sm-2">
	</div> -->
	<div class="col-sm-9">
	  <div class="post-list-body">
	  <div id="post" post-cate="All"> 
	      <ul>
	  
	  {% for post in site.tags.blog %}
	    <li class="postli">
		{% if post.image %}
		  <a href='{{ post.url | prepend: site.baseurl }}'><img class='post-image' src="{{post.image}}" /></a>
		{% endif %}
		<div class="posttitle">
		  <a href='{{ post.url | prepend: site.baseurl }}'><span class="posttitled">{{post.title}}</span></a>
		</div>
		<div class='post-date'>{{ post.date | date: "%B %d, %Y"}}
		</div>
		<div class="post-content">{{post.summary}}        </div>
		
	   </li>
	  {% endfor %} 
	  
	   </ul>	 
	   </div>  
	   {% for category in site.categories %}
	  <div post-cate="{{category | first}}">
          
		 	{% for posts in category  %}
        {% for post in posts %} 
       
		 <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-item">
                    <h2>
                    {{ post.title }}
                    </h2>
                    <span>{{ post.date | date: "%b %-d, %Y" }}</span>
					
					<br>
					<span>{{post.summary}}</span>
                  </a>	 
	      {% endfor %}
		  {% endfor %}
		  		  
		</div> 
		{% endfor %} 
	    
	     
	   </div>
    </div>
	   <div  class="col-sm-3">
	     <div class="shadow-corner-curl hidden-xs">
         <div class="categories-list-header">
          Categories
         </div>
      
      <a href="{{'/index.html' | prepend: site.baseurl}}" class="categories-list-item" cate="All">
        All<span class="my-badge"> {{site.posts | size}}</span>
      </a>
      {% for category in site.categories order:ascending %}
        <a href="javascript:;" class="categories-list-item" cate="{{ category | first }}">
          {{ category| first }} <span class="my-badge">{{ category | last | size }}</span>
        </a>
      {% endfor %}
         </div>
		  <div id="player-demo">
            <div class="player-widget">
                <div class="opts">
                    <span class="prev">
                        <i class="glyphicon glyphicon-step-backward"></i>
                    </span>
                    <span class="ctrl">
                        <i class="glyphicon glyphicon-play"></i>
                    </span>
                    <span class="next">
                        <i class="glyphicon glyphicon-step-forward"></i>
                    </span>
                    <span class="mode"><i class="glyphicon glyphicon-repeat"></i></span>
                </div>
                <div class="volume">
                    <i class="glyphicon glyphicon-volume-down"></i><span class="bar"></span>
                </div>
 <!--               <a class="avatar" href="javascript:;">
                    <img alt="" src="/muplayer/src/doc/img/default.jpg">
                </a>  -->
                <div class="progress-bar"></div>
            </div>
        </div>

		 
	   </div>
	   </div>
  <!--Backtothetop button  -->
	 <div id="top" data-toggle="tooltip" data-placement="left">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>




