<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/Index.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/muplayer/src/css/player-demo.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<!--<script type="text/javascript" src='/js/jquery.min.js'></script>-->
  <script type="text/javascript" src='/js/jquery1.7.2.min.js'></script>
  <script type="text/javascript" src='/muplayer/dist/jquery-ui.min.js'></script> 
  <script type="text/javascript" src='/muplayer/dist/player.js'></script> 
  <script type="text/javascript" src='/muplayer/dist/require.js'></script>
 <!--  <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!--	<script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
  <script id="code">
require.config({
    paths: {
        muplayer: 'muplayer/dist'     }
});

require([
    'muplayer/player'
], function(Player) {
    var player = new Player({
            baseDir: 'muplayer/dist',
            engines: [
                {
                    type: 'FlashMP4Core'
                },
                {
                    type: 'FlashMP3Core'
                }
            ]
        }),
        $player = $('.player-widget'),
        $opts = $player.find('.opts'),
        $ctrlBtn = $opts.find('.ctrl'),
        $ctrlIcon = $ctrlBtn.find('i'),
        $prevBtn = $opts.find('.prev'),
        $nextBtn = $opts.find('.next'),
        $modeBtn = $opts.find('.mode'),
        $modeIcon = $modeBtn.find('i'),
        $volume = $player.find('.volume'),
        $progress = $player.find('.progress-bar'),
        $avatar = $player.find('.avatar'),
       
        handleTimeupdate = function() {
            var pos = player.curPos(),
                duration = player.duration();
            $progress.slider('option', 'value', duration ? pos / duration * 1000 : 0);
        };
    player.add([
       
        'muplayer/src/doc/mp3/A Step You Can Not Take Back.mp3',
        'muplayer/src/doc/mp3/Lost Stars.mp3',
        'muplayer/src/doc/mp3/Coming Up Roses.mp3',
    ]);
        $ctrlBtn.click(function() {
        if ($ctrlIcon.hasClass('glyphicon-play')) {
            $ctrlIcon.removeClass('glyphicon-play').addClass('glyphicon-pause');
            player.play();
        } else if ($ctrlIcon.hasClass('glyphicon-pause')) {
            $ctrlIcon.removeClass('glyphicon-pause').addClass('glyphicon-play');
            player.pause();
        }
    });
    $prevBtn.click(function() {
        player.prev();
    });
    $nextBtn.click(function() {
        player.next();
    });
    var modes = ['loop', 'list-random'],
        modeIndex = 0;
    $modeBtn.click(function() {
        var mode = modes[++modeIndex % 2];
        player.setMode(mode);
        if (mode === 'loop') {
            $modeIcon.removeClass('glyphicon-random').addClass('glyphicon-refresh');
        } else {
            $modeIcon.removeClass('glyphicon-refresh').addClass('glyphicon-random');
        }
    });
    $volume.find('i').click(function() {
        var $this = $(this),
            isMute = player.getMute();
        if (isMute) {
            $this.removeClass('glyphicon-volume-off')
                .addClass('glyphicon-volume-down').parent().removeClass('mute');
            player.setMute(false);
        } else {
            $this.removeClass('glyphicon-volume-down')
                .addClass('glyphicon-volume-off').parent().addClass('mute');
            player.setMute(true);
        }
    });
    $volume.find('.bar').slider({
        value: player.getVolume(),
        range: 'min',
        slide: function(e, ui) {
            player.setVolume(ui.value);
        },
        stop: function(e, ui) {
            $(ui.handle).blur();
        }
    });
   
    $progress.slider({
        range: 'min',
        max: 1000,
        disabled: true,
        start: function() {
           
            player.off('timeupdate');
        },
        stop: function(e, ui) {
            
            player.on('timeupdate', handleTimeupdate).play(ui.value * player.duration());
            $(ui.handle).blur();
        }
    });
    
    player.on('player:play', function() {
        $progress.slider('enable');
        $ctrlIcon.removeClass('glyphicon-play').addClass('glyphicon-pause');
    }).on('player:pause player:stop', function() {
        $progress.slider('disable');
        $ctrlIcon.removeClass('glyphicon-pause').addClass('glyphicon-play');
    }).on('timeupdate', handleTimeupdate).on('player:fetchend', function(r) {
        var info = r.songinfo;
        if (info) {
            var title = info.title + ' - ' + info.author;
            $avatar.attr({
                title: title
            }).find('img').attr({
                alt: title,
                src: info.pic_small
            });
        }
    });
    window.player = player;
});
</script>
  <script type="text/javascript" src="{{"/js/Index.js" | prepend:site.baseurl}}"></script>
  	
		<script type="text/javascript" src='/js/jquery.masonry.min.js'></script>
		<script type="text/javascript" src='/js/jquery.imagesloaded.min.js'></script>
		<script type="text/javascript" src='/js/highlight.pack.js'></script>
		<script type="text/javascript">
			hljs.initHighlightingOnLoad();
			function applyTiles() {
			var posts = $('#post ul');
				posts.imagesLoaded(function() {
					$('#post ul').masonry({ itemSelector : '.postli' });;
				});

							}
							
			$(function() {
				applyTiles();
			});
			$(window).resize(function() {
				applyTiles();
			});
		</script>
  <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?b636473d6ffa17615f94e5db1459ea81";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
