<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="body">

    {% include header.html %}

     <div id="main" class="container main">
	   {{ content }}
     </div>
	<!--Backtothetop button  -->
	 <div id="top" data-toggle="tooltip" data-placement="left">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}
<script id="code">
require.config({
    paths: {
        muplayer: 'muplayer/dist'     }
});

require([
    'muplayer/player'
], function(Player) {
    var player = new Player({
            baseDir: 'muplayer/dist',
            engines: [
                {
                    type: 'FlashMP4Core'
                },
                {
                    type: 'FlashMP3Core'
                }
            ]
        }),
        $player = $('.player-widget'),
        $opts = $player.find('.opts'),
        $ctrlBtn = $opts.find('.ctrl'),
        $ctrlIcon = $ctrlBtn.find('i'),
        $prevBtn = $opts.find('.prev'),
        $nextBtn = $opts.find('.next'),
        $modeBtn = $opts.find('.mode'),
        $modeIcon = $modeBtn.find('i'),
        $volume = $player.find('.volume'),
        $progress = $player.find('.progress-bar'),
        $avatar = $player.find('.avatar'),
       
        handleTimeupdate = function() {
            var pos = player.curPos(),
                duration = player.duration();
            $progress.slider('option', 'value', duration ? pos / duration * 1000 : 0);
        };
    player.add([
       
        'muplayer/src/doc/mp3/A Step You Can Not Take Back.mp3',
        'muplayer/src/doc/mp3/Lost Stars.mp3',
        
    ]);
        $ctrlBtn.click(function() {
        if ($ctrlIcon.hasClass('glyphicon-play')) {
            $ctrlIcon.removeClass('glyphicon-play').addClass('glyphicon-pause');
            player.play();
        } else if ($ctrlIcon.hasClass('glyphicon-pause')) {
            $ctrlIcon.removeClass('glyphicon-pause').addClass('glyphicon-play');
            player.pause();
        }
    });
    $prevBtn.click(function() {
        player.prev();
    });
    $nextBtn.click(function() {
        player.next();
    });
    var modes = ['loop', 'list-random'],
        modeIndex = 0;
    $modeBtn.click(function() {
        var mode = modes[++modeIndex % 2];
        player.setMode(mode);
        if (mode === 'loop') {
            $modeIcon.removeClass('glyphicon-random').addClass('glyphicon-refresh');
        } else {
            $modeIcon.removeClass('glyphicon-refresh').addClass('glyphicon-random');
        }
    });
    $volume.find('i').click(function() {
        var $this = $(this),
            isMute = player.getMute();
        if (isMute) {
            $this.removeClass('glyphicon-volume-off')
                .addClass('glyphicon-volume-down').parent().removeClass('mute');
            player.setMute(false);
        } else {
            $this.removeClass('glyphicon-volume-down')
                .addClass('glyphicon-volume-off').parent().addClass('mute');
            player.setMute(true);
        }
    });
    $volume.find('.bar').slider({
        value: player.getVolume(),
        range: 'min',
        slide: function(e, ui) {
            player.setVolume(ui.value);
        },
        stop: function(e, ui) {
            $(ui.handle).blur();
        }
    });
   
    $progress.slider({
        range: 'min',
        max: 1000,
        disabled: true,
        start: function() {
           
            player.off('timeupdate');
        },
        stop: function(e, ui) {
            
            player.on('timeupdate', handleTimeupdate).play(ui.value * player.duration());
            $(ui.handle).blur();
        }
    });
    
    player.on('player:play', function() {
        $progress.slider('enable');
        $ctrlIcon.removeClass('glyphicon-play').addClass('glyphicon-pause');
    }).on('player:pause player:stop', function() {
        $progress.slider('disable');
        $ctrlIcon.removeClass('glyphicon-pause').addClass('glyphicon-play');
    }).on('timeupdate', handleTimeupdate).on('player:fetchend', function(r) {
        var info = r.songinfo;
        if (info) {
            var title = info.title + ' - ' + info.author;
            $avatar.attr({
                title: title
            }).find('img').attr({
                alt: title,
                src: info.pic_small
            });
        }
    });
    window.player = player;
});
</script>
	
<script type="text/javascript">
var duoshuoQuery = {short_name:"ly199106"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>

  </body>

</html>
